# Strings in Python

In [3]:
print("Strings in Python")

Strings in Python

### Strings is sequence of unicode character
* Creating strings
* accessing strings
* accessing strings

### 1.Creating strings

In [4]:
s='string'
s="string"
s='''string'''
s="""string"""
s=str('string')
print(s)

string

In [11]:
a=34
str(a)

'34'

In [12]:
text="Ït's my birthday"
print(text)

Ït's my birthday

### 2.accessing strings

In [13]:
s="Tamim Hossain"

In [15]:
s[0] #access by index number, and index starts from 0

'T'

In [17]:
s[6]

'H'

* if we jump left to right, it is positive indexing,, here 1st index start from 0, and 0 , 1 , 2 , 3.... like that <br>
* if we jump right to left, it is negative indexing,, here 1st index start from -1, and -1 , -2 , -3 , -4..... like that

In [22]:
s[-7]

'H'

In [21]:
s[-13]

'T'

#### access multiple character/slice character, that means if i access "Tamim"

In [26]:
s[0:5] #here need to put this strings 1st index and last index, and here it will run 1st<last

'Tamim'

In [31]:
s[6:13] #here 'H' is 1st index and last 'n' index +1

'Hossain'

In [29]:
print(s[6:13])

Hossain

In [35]:
s[6: 500] #if put last number as my wish, it will be no probelm

'Hossain'

In [36]:
s[6:] #if do not put last number, it will be no probelm

'Hossain'

In [38]:
s[:] #whole string

'Tamim Hossain'

In [44]:
print(s[0:5:2]) #0 is 1st index, 5 is last index and 2 is 'jump parameter', that means normally it print 1 by 1, now print 2 chracter then print next 2 number character

Tmm

In [51]:
s[::2] #print whole string with jump 2nd by 2nd character, that means skip 1 character

'TmmHsan'

In [52]:
print(s[4::-1]) #if i want to print a string in reverse

mimaT

In [53]:
print(s[::-1]) #print it normally reverse

niassoH mimaT

In [55]:
s[::-2]

'nasHmmT'

* adding character
* editing character
* deleting character

im-mutable means it does not change,,,,,
mutable means it can changable

In python a string any specific character we can not add, delete or edit,,,,,, but we can delete whole string using "del s"