In [19]:
print("Tamim")

Tamim

In [20]:
for i in range (1,10):
  print(i,"Tamim Hossain")

1 Tamim Hossain
2 Tamim Hossain
3 Tamim Hossain
4 Tamim Hossain
5 Tamim Hossain
6 Tamim Hossain
7 Tamim Hossain
8 Tamim Hossain
9 Tamim Hossain

In [21]:
for i in range (10,1,-1): #reverse for loop, for this reverse loop need to bigger value will first and lower value middle and last value -1 indicate reverse
  print(i,"Tamim Hossain")

10 Tamim Hossain
9 Tamim Hossain
8 Tamim Hossain
7 Tamim Hossain
6 Tamim Hossain
5 Tamim Hossain
4 Tamim Hossain
3 Tamim Hossain
2 Tamim Hossain

In [22]:
for i in range (1,10,3): #jump value with 3
  print(i,"Tamim Hossain")

1 Tamim Hossain
4 Tamim Hossain
7 Tamim Hossain

In [23]:
for i in [1,2,3,4,5,6,7]:
    print(i)

1
2
3
4
5
6
7

#### Nested Loop

In [24]:
for i in range (1,6):
    for j in range (1,6):
        print(i,j)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5

#### Exercise: Printing tringle

In [25]:
for i in range(1,10):
    print("*" * i)

*
**
***
****
*****
******
*******
********
*********

In [26]:
for i in range(10,1,-1):
    print("*" * i)

**********
*********
********
*******
******
*****
****
***
**

In [27]:
row=int(input("Enter your rows number: "))
for i in range(1,row+1):
    for j in range(1,i+1):
        print("*", end="")
    print("")

*
**
***
****
*****
******
*******
********
*********
**********

In [28]:
for i in range(1,row):
    print("*" * i)

*
**
***
****
*****
******
*******
********
*********