<a href="https://colab.research.google.com/github/tamimystic/Data-Science-with-Generative-AI/blob/main/Day_1_Python_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First Day

In [1]:
print("hello") #string
#print(tamim)       this code did not run,name error, bcz it i did not write it in cotation

hello

In [2]:
print(7) #integer

7

In [3]:
print("7") #string bcz it write in double cotation

7

In [4]:
print(9.7) #float

9.7

In [5]:
print(True) #bolean

True

In [6]:
print("hello",1,2,3,4,5.6,True) #print different types of variable type

hello 1 2 3 4 5.6 True

In [7]:
print("hello",1,2,3,4,5.6,True, sep='----') #use separetor

hello----1----2----3----4----5.6----True

In [8]:
print("Tamim") #auto new line,bcz by default it work with \n
print("Hossain")

Tamim
Hossain

In [9]:
print("Tamim", end='-') #select - in end
print("Hossain")

Tamim-Hossain

In [10]:
#single line comment
print("hello")

'''
multi line comment
'''

hello

'\nmulti line comment\n'

#Data Type in Python <br>
1.Integer <br>
2. Float (decimal) <br>
3.Bolean (True/False) <br>
4.String (text) <br>
5.Complex <br>
6.List <br>
7.Tuple <br>
8.Set <br>
9.Dictionary <br>

In [11]:
print(2)

2

In [12]:
#data type check using type() function
#python is case sensitive propgramming language
type(2)

int

In [13]:
type(3.4)

float

In [14]:
type(True)

bool

In [15]:
type("Tamim")

str

In [16]:
print(6+3j)

(6+3j)

In [17]:
type(6+3j) #complex

complex

In [18]:
#List
print([2,3,4])

[2, 3, 4]

In [19]:
type([2, 3, 4])

list

In [20]:
#tupple
print((2,3,4))

(2, 3, 4)

In [21]:
type((2, 3, 4))

tuple

In [22]:
#set
print({1,2,3,4})

{1, 2, 3, 4}

In [23]:
type({1, 2, 3, 4})

set

In [24]:
#Dictionary
print({"name":"tamim", "id":223311232})

{'name': 'tamim', 'id': 223311232}

In [25]:
type({'name': 'tamim', 'id': 223311232})

dict

# Variable, Keywords and Identifiers in Python <br>

1.Variable ("Container" where we can store any type of data)

In [26]:
a=5

In [27]:
print(a)

5

In [28]:
a #it is only for notebook, that means we can print variable without print function

5

In [29]:
b=4.5

In [30]:
print(b)

4.5

In [31]:
type(b) #varibale data type check

float

In [32]:
c=False
d="Colab"
print(c)
print(d)

False
Colab

In [33]:
name= "Tamim"
print("Wellcome", name)

Wellcome Tamim

In [34]:
e=4
f=7
#addition
print(e+f)
#substraction
print(e-f)

11
-3

In [35]:
#Dynamic Typing (no need to pre-define data type)
g=8

#Static Typing (need to pre-define data type)
#int h=9;

In [36]:
#dynamic binding (we can change data type without any kind of hastle, just write/store this kind of data)
a=9
print(a)
a="dynamic"
print(a)

9
dynamic

In [37]:
'''
#static binding
int a=9;
print(a)
string a="dynamic";
print(a)
'''

'\n#static binding\nint a=9;\nprint(a)\nstring a="dynamic";\nprint(a)\n'

In [38]:
#python support dynamic binding only

In [39]:
i=3
j=4
k=5
print(i,j,k) #print in one line

3 4 5

In [40]:
i,j,k=3,4,5 #declare in one line
print(i,j,k)

3 4 5

In [41]:
i=4
j=4
k=4
print(i,j,k)
#for this same value we can declare with one line with equale
i=j=k=4
print(i,j,k)

4 4 4
4 4 4

2. Keyword in Python (39 Keyword)

False




None




True




and




as




assert




async




await




break




class




continue




def




del




elif




else




except




finally




for




from




global




if




import




in




is




lambda




nonlocal




not




or




pass




raise




return




try




while




with




yield

In [42]:
'''
keyword is that which type of word we use for specific task, for understand to machine
'''

'\nkeyword is that which type of word we use for specific task, for understand to machine\n'

3.Identifiers (same as Kewword)

In [43]:
''''
1. means means if i declare variable for name, if would be name,studentName it is more efficient, if i declare variable for name like dfjsdjf,jdfhio, or something like that, it is not effient/right

'''

"'\n1. means means if i declare variable for name, if would be name,studentName it is more efficient, if i declare variable for name like dfjsdjf,jdfhio, or something like that, it is not effient/right\n\n"

In [44]:
'''
Must begin with a letter (A-z) or an underscore (_).
'''

'\nMust begin with a letter (A-z) or an underscore (_).\n'

In [45]:
''''
Cannot start with a digit (0-9).
'''

"'\nCannot start with a digit (0-9).\n"

In [46]:
'''
Can contain letters, digits, and underscores.
'''

'\nCan contain letters, digits, and underscores.\n'

In [47]:
'''
Cannot be a reserved Python keyword.
'''

'\nCannot be a reserved Python keyword.\n'

In [48]:
'''
Are case-sensitive (e.g., Age and age are different).
'''

'\nAre case-sensitive (e.g., Age and age are different).\n'

#Python Input
**(for take data from user)**

**Application type**
Static- Calender, Clock,
Dynamic -Youtube, Facebook

In [49]:
input()

'7'

In [50]:
input()

'tamim'

In [51]:
var=input() #store a variable input data

In [52]:
name=input()

In [53]:
# lets make a calculator
num1=input("Enter your first number: ")
num2=input("Enter your second number: ")
print(num1+num2)

57

In [54]:
# we need to type casting, bcz by default taking input data is string
num1_typeCasting=int(num1)
num2_typeCasting=int(num2)
print(num1_typeCasting+num2_typeCasting)

12

In [55]:
#another approach
num1=int(input("Enter your first number: "))
num2=int(input("Enter your second number: "))
print(num1+num2)

12

In [56]:
#substraction
sub=num1-num2

# Type Casting/Type Conversion <br>

1.Implicit - Internally by Python <br>
2.Explicit - By the Programmer

**But Complex number we can not convert any type of data**

In [57]:
#Implicit
a=5+5.5

print(type(a))
print(a)

<class 'float'>
10.5

In [58]:
#Explicit
r=str(4)
type(r)

str

In [59]:
t=int("4")
type(t)

int

In [60]:
b=4+int("4")
print(type(b))
print(b)

<class 'int'>
8

In [61]:
num=34

print(float(34))

34.0

# Literals in Python
**It is this type of value that we write in code directly, like 3,4.6 or something like that** <br>
1.Integer literal <br>
2.Float literal <br>
3.String literal <br>
4.Binary literal <br>
5.Octal literal <br>
6.Decimal literal <br>
7.Hexa-decimal literal <br>
8.Boolean literal <br>
9.None literal <br>
10.Complex literal <br>

**1.Integer literal**

In [62]:
# here 3 is integer type value
a=3

type(a)

int

**2.Float literal**

In [63]:
#float literals
float1=10.5
float2=1.5e3 #1.5 *10^2    #Scientific notation
float3=1.5e-3 #1.5*10^-3   #Scientific notation

print(float1, float2, float3, sep="\n")

10.5
1500.0
0.0015

**3.String literal**

In [64]:
strings="this is python"
stringss="hello from rajshahi"
char='c'
multiline_str="""This is a multiline string with more than one line code."""
unicode=u"\U0001f600\U0001F606\U0001F923"
raw_str=r"raw \n string"


print(strings)
print(stringss)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

this is python
hello from rajshahi
c
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

**4.Binary literal**

In [65]:
#Binary literals
a=0b1010

print(a)
print(type(a))

10
<class 'int'>

**5.Octal literal**

In [66]:
#Octal literals
c = 0o34

print(c)
print(type(c))

28
<class 'int'>

**6.Decimal literal**

In [67]:
#decimal literals
b=100

print(b)
print(type(b))

100
<class 'int'>

**7.Hexa-decimal literal**

In [68]:
h=0x54

print(h)
print(type(h))

84
<class 'int'>

**8.Boolean literal**

In [69]:
#Boolean literals
#True=1
#False=0

a=True+4
b=True+3

print("a:",a) #here True means 1, so 1+4=5
print("b:",b)

a: 5
b: 4

**9.None literal**

In [70]:
#None Literals
a=None #it can be a='', a=0, a=False

b=4
c=5
print(a,b,c)

None 4 5

**10.Complex literal**

In [71]:
x=3.14j

print(x)
print(type(x))

print(x, x.imag, x.real)

3.14j
<class 'complex'>
3.14j 3.14 0.0

# Operators in Python <br>
1. Arithmetic Operators <br>
2.Relational Operators <br>
3.Logical Operators <br>
4.Bitwise Operators <br>
5.Assignment Operators <br>
6.Membership Operators <br>

**1. Arithmetic Operators**

In [72]:
# + , - , * , / , // , % , ** ,
a=8
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) #integer division, if we dont want float value
print(a%b)
print(a**b)

11
5
24
2.6666666666666665
2
2
512

**2.Relational Operators** <br>
 -> mainly used for check relation using some operator, called relational operator

In [73]:
print(4>5)

False

In [74]:
print(7<9)

True

In [75]:
print(3<=3)

True

In [76]:
print(1!=1)

False

**3.Logical Operators** <br>
  ->and <br>
  ->or <br>
  ->not <br>

In [77]:
# and operator
print(1 and 0)

0

In [78]:
# not operator
print(not 1)

False

In [79]:
# or operator
print(1 or 0)

1

**4.Bitwise Operators** <br> *This type of operator that can perform 'binary bits' on integer value* <br>
-> bitwise and <br>
-> bitwise or <br>
-> bitwise not <br>
-> bitwise right-shift <br>
-> bitwise left-shift <br>

**declare value**

In [80]:
a=10 #1010
b=4 #0100

**Bitwise and**

In [81]:
print(a&b) #0b0000->0

0

**Bitwise or**

In [82]:
print(a|b) # 0b1110->14

14

**Bitwise not**

In [83]:
print(~a) # -(a+1) = -11

-11

In [84]:
print(~b)

-5

**Bitwise right-shift**

In [85]:
print(a>>2) # 1010->10100->2

2

**Bitwise left-shift**

In [86]:
print(a<<1) # 1010->10100->20

20

***5.Assignment Operators*** <br> <br>
-> Simple Assignment          (=)   >    x=right side value go to left side<br>
-> Add and Assign             (+=)   >    x=x+value<br>
-> Subtract and Assign        (-=)   >    x=x-value<br>
-> Multiply and Assign        (*=)   >    x=x*value<br>
-> Exponent and Assign        (**=)  >    x=x**value<br>
-> Divide and Assign          (/=)   >    x=x/value<br>
-> Floor Division and Assign  (//=)  >    x=x//value<br>
-> Modulus and Assign         (%=)   >    x=x%value<br>
-> =, ^=, >>=, <<=`           (&=)   >    bitwise assignment<br>

In [87]:
a=2
print(a)

2

In [88]:
a+=3
print(a)

5

**6.Membership Operators**

In [89]:
#in/not in
print('B' not in "Bangladesh")
print('B' in "Bangladesh")

False
True